@charset "UTF-8";
@import url(./layout.css);
@import url(./font.css);
@import url(./attribute.css);
@import url(./reset.css);
@import url(./variables.css);
@import url(./style.css);

/* Button */
.btn {
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.btn-md {
  width: 140px;
  height: 46px;
}

/* Modal */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #00000072;
  z-index: 1000;
  display: none;
}

.modal__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1024px;
  height: 659px;
  border-radius: 8px;
  background-color: #F1F1F5;
  padding: 24px 32px;
}

.modal__inner .close-modal {
  position: absolute;
  top: 24px;
  right: 32px;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.close-modal .btn_close-modal{
  width: inherit;
  height: inherit;
  background: url(/_img/common/icon_close.svg) no-repeat center center / 12px;
}

/* Form */
input[type=text],
input[type=password] {
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  background-color: #fff;
  display: inline-block;
  width: 480px;
  height: 46px;
  padding: 0 16px;
  font-size: 16px;
}

input[type=text]::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #999999;
}

/* Select */
select {
  display: none;
}

.nice-select {
  height: 46px !important;
  line-height: 46px !important;
  float: none !important;
  display: inline-block;
}

.nice-select .list {
  width: inherit;
  max-height: 190px;
  overflow-y: auto;
  z-index: 1000;
}

.nice-select:active,
.nice-select.open,
.nice-select:focus {
  border-color: #ddd !important;
}

.nice-select .option {
  border-bottom: 1px solid #ddd;
  height: 40px !important;
  line-height: 40px !important;
}

.nice-select .option:last-child {
  border-bottom: none;
}

.nice-select .option.selected {
  font-weight: normal !important;
}

.select-primary:after {
  border-bottom: none;
  border-right: none;
  display: inline-block;
  width: 14px;
  height: 8px;
  background: url(/_img/common/icon_arrow_bottom.svg) no-repeat center center / contain;
  transform: translateY(-50%) rotate(0deg);
  margin-top: 0;
  right: 15px;
}

.select-primary.open:after {
  transform: translateY(-50%) rotate(-180deg);
  transform-origin: center !important;
}